<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="consumoventanilla">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Consumo Ventanilla</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="consumolibranza">
      <ion-icon name="folder"></ion-icon>
      <ion-label>Consumo Libranza</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="comercialventanilla">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label>Comercial Ventanilla</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="comerciallibranza">
      <ion-icon name="archive"></ion-icon>
      <ion-label>Comercial Libranza</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>