<app-header titulo="Indice recaudo de aportes"></app-header>

<ion-content>
    <ion-grid style="background-color: #fbfffa">
        <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
                <ion-list>
                    <ion-label style="font-weight: bold; font-family: AvenirLTStd-Black;" >Fuente de información: Informe Individual de aportes o contribuciones - Formato 21</ion-label>
                </ion-list>
                <br>
                <form #formulario2="ngForm">
                    <ion-list-header>
                        <ion-label>Formulario válido: {{ formulario2.valid }}</ion-label>
                    </ion-list-header>
                    <ion-label style="font-family: AvenirLTStd-Black;" >Aporte mensual reportado($)</ion-label>
                    
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA1" [(ngModel)]="operandoA1" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA2" [(ngModel)]="operandoA2" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA3" [(ngModel)]="operandoA3" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA4" [(ngModel)]="operandoA4" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA5" [(ngModel)]="operandoA5" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA6" [(ngModel)]="operandoA6" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA7" [(ngModel)]="operandoA7" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA8" [(ngModel)]="operandoA8" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA9" [(ngModel)]="operandoA9" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA10" [(ngModel)]="operandoA10" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA11" [(ngModel)]="operandoA11" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA12" [(ngModel)]="operandoA12" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA13" [(ngModel)]="operandoA13" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA14" [(ngModel)]="operandoA14" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA15" [(ngModel)]="operandoA15" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA16" [(ngModel)]="operandoA16" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA17" [(ngModel)]="operandoA17" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA18" [(ngModel)]="operandoA18" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoA19" [(ngModel)]="operandoA19" ></ion-input>
                    </ion-item>

                    -----------------
                    <ion-label style="font-family: AvenirLTStd-Black;" >Monto real recaudado($)</ion-label>-------------------
                    
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB1" [(ngModel)]="operandoB1" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB2" [(ngModel)]="operandoB2" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB3" [(ngModel)]="operandoB3" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB4" [(ngModel)]="operandoB4" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB5" [(ngModel)]="operandoB5" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB6" [(ngModel)]="operandoB6" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB7" [(ngModel)]="operandoB7" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB8" [(ngModel)]="operandoB8" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB9" [(ngModel)]="operandoB9" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB10" [(ngModel)]="operandoB10" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB11" [(ngModel)]="operandoB11" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB12" [(ngModel)]="operandoB12" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB13" [(ngModel)]="operandoB13" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB14" [(ngModel)]="operandoB14" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB15" [(ngModel)]="operandoB15" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB16" [(ngModel)]="operandoB16" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB17" [(ngModel)]="operandoB17" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB18" [(ngModel)]="operandoB18" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-item>
                        <ion-input type="number" placeholder="Awesome Input" required name="operandoB19" [(ngModel)]="operandoB19" ></ion-input>
                    </ion-item>
                    <br>
                    <ion-button (click)="onindiMensual()" expand="block" [disabled]="formulario2.invalid" >
                        Click me
                    </ion-button>
                    <p style="font-family: AvenirLTStd-Black; font-weight: bold;">Índice de recaudo(I.r.%)</p>
                    <ion-label style="font-family: AvenirLTStd-Black;" > 
                        {{ resultadoA1}} <br>
                        {{ resultadoA2}} <br>
                        {{ resultadoA3}} <br>
                        {{ resultadoA4}} <br>
                        {{ resultadoA5}} <br>
                        {{ resultadoA6}} <br>
                        {{ resultadoA7}} <br>
                        {{ resultadoA8}} <br>
                        {{ resultadoA9}} <br>
                        {{ resultadoA10}} <br>
                        {{ resultadoA11}} <br>
                        {{ resultadoA12}} <br>
                        {{ resultadoA13}} <br>
                        {{ resultadoA14}} <br>
                        {{ resultadoA15}} <br>
                        {{ resultadoA16}} <br>
                        {{ resultadoA17}} <br>
                        {{ resultadoA18}} <br>
                        {{ resultadoA19}} <br>

                    </ion-label>
-----------------------------------------------------
                    <p style="font-family: AvenirLTStd-Black; font-weight: bold;">Índice Promedio de recaudo(%)</p>
                    <ion-label style="font-family: AvenirLTStd-Black;" > 
                        {{ resultadoB1}} <br>
                        {{ resultadoB2}} <br>
                        {{ resultadoB3}} <br>
                        {{ resultadoB4}} <br>
                        {{ resultadoB5}} <br>
                        {{ resultadoB6}} <br>
                        {{ resultadoB7}} <br>
                    </ion-label>
                    
                </form>
            </ion-col>
            <ion-col size="2"></ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

