<app-header titulo="IRL"></app-header>


<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4">
                <ion-label>
                    Banda 1
                </ion-label>
            </ion-col>
            <ion-col size="2.4">
                <ion-label>Banda 2</ion-label>
            </ion-col>
            <ion-col size="2.4">
                <ion-label>Banda 3</ion-label>
            </ion-col>
            <ion-col size="2.4">
                <ion-label>Banda 4</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2.4">
                <ion-label>Enero-IRL</ion-label>
            </ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2.4">Febrero-IRL</ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2.4">Marzo-IRL</ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2.4">Abril-IRL</ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2.4">Mayo-IRL</ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2.4">Junio-IRL</ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2.4">Julio-IRL</ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2.4">Agosto-IRL</ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2.4">Septiembre-IRL</ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2.4">Octubre-IRL</ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2.4">Noviembre-IRL</ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2.4">Diciembre-IRL</ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
            <ion-col size="2.4"></ion-col>
        </ion-row>

    </ion-grid>

    <!--
    
    <div class="table-container">
        <table class="table-rwd">
          <tr>
            <th></th>
            <th>Banda 1</th>
            <th>Banda 2</th>
            <th>Banda 3</th>
            <th>Banda 4</th>
          </tr>
          <tr>
            <td>Enero-IRL</td>
            <td>100</td>
            <td>200</td>
            <td>300</td>
            <td>400</td>
          </tr>
          <tr>
            <td>Febrero-IRL</td>
            <td>100</td>
            <td>200</td>
            <td>300</td>
            <td>400</td>
          </tr>
          <tr>
            <td>Marzo-IRL</td>
            <td>200</td>
            <td>400</td>
            <td>600</td>
            <td>800</td>
          </tr>
          <tr>
            <td>Abril-IRL</td>
            <td>300</td>
            <td>600</td>
            <td>900</td>
            <td>1200</td>
          </tr>
          <tr>
            <td>Mayo-IRL</td>
            <td>400</td>
            <td>800</td>
            <td>1200</td>
            <td>1600</td>
          </tr>
          <tr>
            <td>Junio-IRL</td>
            <td>500</td>
            <td>1000</td>
            <td>1500</td>
            <td>2000</td>
          </tr>
          <tr>
            <td>Julio-IRL</td>
            <td>600</td>
            <td>1200</td>
            <td>1800</td>
            <td>2400</td>
          </tr>
          <tr>
            <td>Agosto-IRL</td>
            <td>700</td>
            <td>1400</td>
            <td>2100</td>
            <td>2800</td>
          </tr>
          <tr>
            <td>Septiembre-IRL</td>
            <td>800</td>
            <td>1600</td>
            <td>2400</td>
            <td>3200</td>
          </tr>
          <tr>
            <td>Octubre-IRL</td>
            <td>800</td>
            <td>1600</td>
            <td>2400</td>
            <td>3200</td>
          </tr>
          <tr>
            <td>Noviembre-IRL</td>
            <td>800</td>
            <td>1600</td>
            <td>2400</td>
            <td>3200</td>
          </tr>
          <tr>
            <td>Diciembre-IRL</td>
            <td>800</td>
            <td>1600</td>
            <td>2400</td>
            <td>3200</td>
          </tr>
        </table>
      </div>
      -->
</ion-content>
